<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改外购件信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-purchase-edit" th:object="${tPurchaseComponent}">
            <input name="purchaseId" th:field="*{purchaseId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">外购件名称：</label>
                <div class="col-sm-8">
                    <input name="purchaseName" th:field="*{purchaseName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">型号规格：</label>
                <div class="col-sm-8">
                    <input name="modelSpecification" th:field="*{modelSpecification}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">计量单位：</label>
                <div class="col-sm-8">
                    <input name="meterageUnit" th:field="*{meterageUnit}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">单价：</label>
                <div class="col-sm-8">
                    <input name="price" th:field="*{price}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">价格依据：</label>
                <div class="col-sm-8">
                    <input name="priceBasis" th:field="*{priceBasis}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">供应商：</label>
                <div class="col-sm-8">
                    <input name="supplier" th:field="*{supplier}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" th:field="*{remark}" class="form-control" type="text" required>
                </div>
            </div>
            <!-- <div class="form-group">    
                <label class="col-sm-3 control-label is-required">预留字段1：</label>
                <div class="col-sm-8">
                    <input name="attr1" th:field="*{attr1}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">预留字段2：</label>
                <div class="col-sm-8">
                    <input name="attr2" th:field="*{attr2}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">预留字段3：</label>
                <div class="col-sm-8">
                    <input name="attr3" th:field="*{attr3}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">预留字段4：</label>
                <div class="col-sm-8">
                    <input name="attr4" th:field="*{attr4}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="cteateTime" th:value="${#dates.format(tPurchaseComponent.cteateTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div> -->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/purchase";
        $("#form-purchase-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-purchase-edit').serialize());
            }
        }

        $("input[name='cteateTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>