<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TTechRouteMapper">
    
    <resultMap type="TTechRoute" id="TTechRouteResult">
        <result property="routeId"    column="route_id"    />
        <result property="routeCode"    column="route_code"    />
        <result property="routeName"    column="route_name"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="attr1"    column="attr1"    />
        <result property="attr2"    column="attr2"    />
        <result property="attr3"    column="attr3"    />
        <result property="attr4"    column="attr4"    />
        <result property="createBy"    column="create_by"    />
        <result property="cteateTime"    column="cteate_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTTechRouteVo">
        select route_id, route_code, route_name, status, remark, attr1, attr2, attr3, attr4, create_by, cteate_time, update_by, update_time from t_tech_route
    </sql>

    <select id="selectTTechRouteList" parameterType="TTechRoute" resultMap="TTechRouteResult">
        <include refid="selectTTechRouteVo"/>
        <where>  
            <if test="routeCode != null  and routeCode != ''"> and route_code = #{routeCode}</if>
            <if test="routeName != null  and routeName != ''"> and route_name like concat('%', #{routeName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="attr1 != null  and attr1 != ''"> and attr1 = #{attr1}</if>
            <if test="attr2 != null  and attr2 != ''"> and attr2 = #{attr2}</if>
            <if test="attr3 != null "> and attr3 = #{attr3}</if>
            <if test="attr4 != null "> and attr4 = #{attr4}</if>
            <if test="cteateTime != null "> and cteate_time = #{cteateTime}</if>
        </where>
    </select>
    
    <select id="selectTTechRouteByRouteId" parameterType="Long" resultMap="TTechRouteResult">
        <include refid="selectTTechRouteVo"/>
        where route_id = #{routeId}
    </select>
        
    <insert id="insertTTechRoute" parameterType="TTechRoute" useGeneratedKeys="true" keyProperty="routeId">
        insert into t_tech_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routeCode != null and routeCode != ''">route_code,</if>
            <if test="routeName != null and routeName != ''">route_name,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null">attr3,</if>
            <if test="attr4 != null">attr4,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="cteateTime != null">cteate_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="routeCode != null and routeCode != ''">#{routeCode},</if>
            <if test="routeName != null and routeName != ''">#{routeName},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="attr1 != null and attr1 != ''">#{attr1},</if>
            <if test="attr2 != null and attr2 != ''">#{attr2},</if>
            <if test="attr3 != null">#{attr3},</if>
            <if test="attr4 != null">#{attr4},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="cteateTime != null">#{cteateTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTTechRoute" parameterType="TTechRoute">
        update t_tech_route
        <trim prefix="SET" suffixOverrides=",">
            <if test="routeCode != null and routeCode != ''">route_code = #{routeCode},</if>
            <if test="routeName != null and routeName != ''">route_name = #{routeName},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="attr1 != null and attr1 != ''">attr1 = #{attr1},</if>
            <if test="attr2 != null and attr2 != ''">attr2 = #{attr2},</if>
            <if test="attr3 != null">attr3 = #{attr3},</if>
            <if test="attr4 != null">attr4 = #{attr4},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="cteateTime != null">cteate_time = #{cteateTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where route_id = #{routeId}
    </update>

    <delete id="deleteTTechRouteByRouteId" parameterType="Long">
        delete from t_tech_route where route_id = #{routeId}
    </delete>

    <delete id="deleteTTechRouteByRouteIds" parameterType="String">
        delete from t_tech_route where route_id in 
        <foreach item="routeId" collection="array" open="(" separator="," close=")">
            #{routeId}
        </foreach>
    </delete>

</mapper>